.asi{
    grid-area: aside;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    h4{
        margin: 10px;
    }
    img{
        max-width: 200px;
        max-height: 200px;
    }
}
footer{
    padding-top: 50px;
    div{
        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                font-size: 20px;
                list-style-type: none;
                li{
                    img{
                        display: flex;
                        padding: 5px;
                        width: 50px;
                        height: 50px;
                    }
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    &:hover{
                        background-color: bisque;
                        transition-duration: .7s;
                        transform: scale(1.2);
                        border: 0.5px solid rgb(0, 0, 0);
                    }
                }
            }
        }
    }
    h6{
        font-size: 10px;
        display: flex;
        justify-content: end;
        padding: 10px;
    }
}