@import "header-nav";
@import "main-sect-art";
@import "aside-footer";
@import "contact-main";
@import "product-grid-table";

//Variables
$color-text: rgb(0, 0, 0);
$color-hover: rgb(188, 209, 189);

@keyframes run-infinite {
    0% {
    transform: translateX(-1000px) scale(0.7); opacity: 0;}
    1% {opacity: 1;}
    50% {transform: translateX(0) scale(0.7);}
    65% {transform: scale(2);}
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
@media (max-width:700px) {
    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        div{
            h1{
                padding-top: 5px;
                font-size: 20px;
            }
        }
    }
    .nav-menu ul li a{
        ul{
            li{
                a{
                    font-size: 12px;
                    padding: 2px;
                }
            }
        }
    }
    footer div nav ul{
        div{
            nav{
                ul{
                    justify-content: space-around;
                    font-size: 12px;
                    li{
                        a{
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

